*~
*.bak
/db
/incremental_db
/simulation
/output_files
*.o
*.rpt
*.compiled
/work
*.ghw
*.vcd
qar_info.json
racine_behavorial_test
racine_structural_test
racine_combinatorial_test
racine
racinecomb
additionneur_soustracteur
additionneur_soustracteur_test
additionneur_cascadable
additionneur
complement_a_deux
reg_decg_accu_test
reg_decg_accu
bascule_d
uc
uc_test
