*~
*.bak
/db
/incremental_db
/simulation
/output_files
*.o
*.rpt
*.compiled
/work
*.ghw
*.vcd
qar_info.json
racine_test
racine
additionneur_soustracteur
additionneur_soustracteur_test
additionneur_cascadable
additionneur
complement_a_deux
reg_decg_test
reg_decg
bascule_d
uc
uc_test
